*{
    font-family: Roboto;
    color: white;
}

body{
    margin: 0;
    /* height: 100vh; */
    display: flex;
    /* width: 100%; */
}

textarea{
    resize: none;
}

input[type="text"]{
    text-align: center;
    color: black;
    width: 200px;
}

.pop-up{
    width: fit-content;
    display: none;
    flex-direction: column;
    align-items: center;
}

.create{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(200, 56, 95);
    padding-top: 40px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
}

.select, .delete{
    color: white;
    display: inline;
    border-radius: 10px;
    padding: 5px;
}

.select, .delete{
    cursor: pointer;
}

.create .select:hover{
    box-shadow: 0 0 10px 8px rgb(222, 66, 107);
    /* offset xandy blur and spread */
    background-color: rgb(222, 66, 107);
}

.buttons button{
    padding: 5px 20px;
    margin: 0 20px;
    color: black;
}

.edit{
    background-color: rgb(14, 193, 134);
    padding: 10px 30px;
    position: absolute;
    right: 0;
    top: 50px;
    margin: auto;
}

.edit p{
    margin: 0;
}

.edit .select{
    margin: 5px 0;
}
.edit .select:hover{
    background-color: rgb(29, 224, 159);
    box-shadow: 0 0 10px 8px rgb(29, 224, 159);
}

.edit .delete{
    color: red;
    padding: 4px 12px;
}

.delete:hover,
.delete:focus {
  background-color: transparent;
  outline: none;
  border: none;
  text-shadow: 
  0 0 5px red,
  0 0 10px red,
  0 0 20px rgb(233, 105, 118);
  /* shadow ni ai */
}

.select::selection, .delete::selection{
    background-color: transparent;
}


.sidebar, .main{
    height: 100%;
}

.sidebar{
    background-color: rgb(56, 52, 52);
    width: 300px;
    max-width: 250px;
    position: sticky;
    top: 0;
    overflow: hidden;
    height: 100vh;
}



.sidebar h3{
    cursor: pointer;
    width: fit-content;
    /* border: 1px solid; */
    margin: 10px 0;
    /* color: rgb(193, 186, 186); */
}

.main{
    width: 100%;
    height: 100vh;
    background-color: antiquewhite;
}

.textarea-container{
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
    background-color: antiquewhite;
}

#description{
    width: 90%;
    min-height: 80%;
    height: auto;
    margin: 10px 30px;
    color: black;
    overflow-y: hidden;
    transition: height 0.3s ease;
    display: none;
}

.logo{
    border-radius: 10px;
    margin: 10px;
}

.actions{
    display: flex;
    flex-direction: column;
}

.actions, .to-dos{
    padding: 10px;
}

.to-dos h5{
    color: gray;
    margin: 0;
}

.top-bar{
    width: 100%;
    height: 50px;
    position: relative;
    background-color: rgb(221, 74, 99);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-bar .title{
    margin: 0 20px;
    height: 70%;
    width: 80%;
    background-color: transparent;
    border: none;
    font-size: 2em;
    text-align: start;
}

.top-bar .title:focus{
    outline: none;
}

.top-bar .settings  {
    margin: 0 20px;
    margin-bottom: 10px;
    cursor: pointer;
}
.top-bar .settings::selection{
    background-color: transparent;
}

.titles{
    cursor: pointer;
}